*{
margin: 0;
padding: 0;
font-family: Poppins-Regular, 'sans-serif', 'arial';
}

@font-face {
font-family: 'Firacode';
src: url(./Fonts/FiraCode-VariableFont_wght.ttf) ;
}
@font-face {
font-family: 'Poppins-Regular';
src: url(./Fonts/Poppins-Regular.ttf) ;
}
@font-face {
font-family: 'Poppins-Bold';
src: url(./Fonts/Poppins-ExtraBold.ttf) ;
}
@font-face {
font-family: 'Rubik';
src: url(./Fonts/Rubik-VariableFont_wght.ttf) ;
}
@font-face {
font-family: 'Rubik-italic';
src: url(./Fonts/Rubik-Italic-VariableFont_wght.ttf)
}
:root{
--orange: #FF4700;
--black: #020100;
--white: #FFFFFF;
--grey: #9C9C9C;
--lightorange: #FFA37F;
}

header{
    display: flex;
    margin: 5px 0;
    height: 10vh;
    width: 100%;
}
.left-header{
    width: 25%;
}
.img-header img{
    width: 50%;
}

.img-header{
    width: 30vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 4.5vh;
}

.right-header{
    width: 75%;
    background-color: var(--orange);
    border-radius: 50vh 0 0 0;
}
.title-header{
    color: var(--white);
    text-align: center;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 1.5vh 0;
    width: 100%;
    background-color: var(--orange);
}
.left-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.option-nav a{
    text-decoration: none;
    color: var(--white);
    position: relative;
}
.option-nav a:hover::after{
        content: "";
        position: absolute;
        bottom: 2;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        animation: lineaAnimada 3s linear infinite;
}
.right-nav{
    margin: auto 2.8vw;
}

.main{
display: flex;
flex-direction: column;
justify-content: center;
background-image: url(./img/B-APRENDE-IMAGEN-1.jpg);
background-size: cover;
/* background-repeat: no-repeat;
background-position: center;
background-attachment: fixed; */
z-index: -1;
}
.container-top{

height: 85vh;
z-index: 1;
}
.main-box{
max-width: 40%;
background-color: var(--orange);
margin-top: 10vh;
margin-left: 25vw;
border-radius: 10px;
box-shadow: 4px 4px 0px var(--black);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 5vh;

}
.main-h2{
margin: 2vh 3vh;
color: var(--white);
text-align: center;
font-size: 4vh;
font-family: Rubik;
}
.main-btn{
display: inline-block;
background-image: linear-gradient(144deg, var(--orange), var(--lightorange) 50%, var(--orange));
box-sizing: border-box;
border: 1;
color: var(--white);
padding: 2vh 3vh;
font-size: 3vh;
border-radius: 8px;
text-shadow: 2px 2px 2px var(--orange);
box-shadow: 2px 2px var(--black);
width: calc(100%);
margin-bottom: 20px;
}
.main-btn:hover{
box-shadow: 1px 1px 10px 5px var(--white);
}
.container-bottom{
margin-top: 2vh;
height: 15vh;
background-color: var(--orange);
display: flex;
justify-content: center;
align-items: center;
}
.container-bottom-h2{
color: var(--white);
text-align: center;
font-size: 5vh;
text-transform: uppercase;
font-family: Rubik;
}

.allphotosandtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}
.photo1{
    width: 15vh ;
}
.photo2{
    width: 12vh;
}
.photo3{
    width: 23vh;
}
.photo4{
    width: 20vh;
}
.photo5 {
    width: 25vh;
}
.downtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}
.footer{
  background-color: var(--white);
  border-top: 2px solid var(--orange);
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.ColorFooterLinks, .ColorFooterLinks:link, .ColorFooterLinks:visited {

    color: var(--black);

}

.ColorFooterLinks:hover {
    color: var(--orange);
}



@keyframes lineaAnimada {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
}

@media (max-width: 1030px){
    .allphotosandtext{
      flex-direction: column;
    }
  .downtext{
    flex-direction: column;
    gap: 10px;
  }
  }

@media(max-width: 950px){
    .img-header{
        width: 30vw;
        margin: -2vh 3vh;
    }
    .right-header{
        width: 75%;
        height: 65%;
    }
    nav{
        margin: -3vh 0;
    }
    .left-nav{
        width: 70%;
    }
}
@media (max-width: 600px){
    .main-box{
        max-width: 60%;
        margin-left: 15vw;
    }
    .main-h2, .container-bottom-h2{
        max-width: 80%;
        font-size: 3vh;
    }
}

@media(max-width: 550px){
    .option-nav{
        font-size: small;
    }
}
@media(max-width: 450px){
    .img-header{
        margin: -3vh 3vh;
    }

    .right-header{
        width: 75%;
        height: 45%;
    }
    nav{
        margin: -4.5vh 0;
        padding: 1vh 0;
    }
    .option-nav{
        font-size: x-small;
    }
}

