*{
    margin: 0;
    padding: 0;  
    
}

@font-face {
    font-family: "FiraCode";
    src: url(./fonts/FiraCode/FiraCode-VariableFont_wght.ttf);
} 
@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
} 

:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ffa37f;
}

header{
    display: flex;
    margin: 5px 0;
    height: 10vh;
    width: 100%;
}

.left-header{
    width: 25%;
}

.img-header img{
    width: 50%;
    margin: auto 10vh;
}

.right-header{
    width: 75%;
    background-color: var(--orange);
    border-radius: 50vh 0 0 0;
}

.title-header{
    color: var(--white);
    text-align: center;
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 1.5vh 0;
    width: 100%;
    background-color: var(--orange);
}

.left-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.option-nav a{
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.option-nav a:hover::after{
        content: "";
        position: absolute;
        bottom: 2;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        animation: lineaAnimada 3s linear infinite;
}

.right-nav{
    margin: auto 2.8vw;
}

@keyframes lineaAnimada {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
}

@media(max-width: 1150px){
    .img-header img{
        width: 75%;
        margin: 1vh 3vh;
    }
}

@media(max-width: 950px){
    
    .img-header img{
        width: 60%;
        margin: 1.3vh 2.5vh;
    }

    .right-header{
        width: 75%;
        height: 60%;
    }

    .title-header{
        font-size: 3.8vw;
    }

    nav{
        margin: -3vh 0;
    }

    .left-nav{
        width: 70%;
    }
}

@media(max-width: 700px){
    .left-nav{
        width: 100%;
    }
}

@media(max-width: 550px){
    .img-header img{
        width: 75%;
        margin: 1.3vh 1.8vh;
    }

    .option-nav{
        font-size: small;
    }
}

@media(max-width: 450px){
    .img-header img{
        width: 75%;
        margin: 0.8vh 1.5vh;
    }
    
    .right-header{
        width: 75%;
        height: 45%;
    }

    .title-header{
        font-size: 4vw;
        margin-left: 2vh;
    }

    nav{
        margin: -4.5vh 0;
        padding: 1vh 0;
    }

    .option-nav{
        font-size: x-small;
    }
}