*{
    margin: 0;
    padding: 0; 
    font-family: Poppins-Regular, 'sans-serif', 'arial';      
}

 
@font-face {
    font-family: 'Firacode';
    src: url(./Fonts/FiraCode-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./Fonts/Poppins-Regular.ttf) ;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./Fonts/Poppins-ExtraBold.ttf) ;
}

@font-face {
    font-family: 'Rubik';
    src: url(./Fonts/Rubik-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Rubik-italic';
    src: url(./Fonts/Rubik-Italic-VariableFont_wght.ttf)
}
    
:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ffa37f;
}






