*{
    margin: 0;
    padding: 0; 
    font-family: Poppins-Regular, 'sans-serif', 'arial';  
    /* outline: solid 1px blue;  */   
}

 
@font-face {
    font-family: 'Firacode';
    src: url(./Fonts/FiraCode-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./Fonts/Poppins-Regular.ttf) ;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./Fonts/Poppins-ExtraBold.ttf) ;
}

@font-face {
    font-family: 'Rubik';
    src: url(./Fonts/Rubik-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Rubik-italic';
    src: url(./Fonts/Rubik-Italic-VariableFont_wght.ttf)
}
    
:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ffa37f;
}

 .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} 

.container-top{
    background-image: url(./img/B-APRENDE-IMAGEN-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;  
    height: 85vh;
   
   
    
}

.main-box{
    max-width: 40%;
    /* height: 40%; */
    background-color: var(--orange);
    margin-top: 10vh; 
    margin-left: 25vw;
    border-radius: 10px;
    box-shadow: 4px 4px 0px var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh; 
    
}

.main-h2{
    margin: 2vh 3vh;
    color: var(--white);
    text-align: center;    
    font-size: 5vh;
    font-family: Rubik;
    
}

.main-btn{
    display: inline-block;
    background-image: linear-gradient(144deg, var(--orange), var(--lightorange) 50%, var(--orange));
    box-sizing: border-box;
    border: 1;
    color: var(--white);
    padding: 2vh 3vh;
    font-size: 3vh;
    border-radius: 8px;
    text-shadow: 2px 2px 2px var(--orange);
    box-shadow: 2px 2px var(--black);
    z-index: -1;
    width: calc(100%);
    margin-bottom: 20px;
}

.main-btn:hover{
    box-shadow: 1px 1px 10px 5px var(--white);

}

.container-bottom{
    margin-top: 2vh; 
    height: 15vh;
    background-color: var(--orange);    
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container-bottom-h2{
    color: var(--white);
    text-align: center;    
    font-size: 5vh;
    text-transform: uppercase;
    font-family: Rubik;
}

@media (max-width: 600px){
    .main-box{
        max-width: 60%;
        margin-left: 15vw;
    }
    .main-h2, .container-bottom-h2{
        max-width: 80%;
        font-size: 3vh;       
        
    }
}

 