*{
    margin: 0;
    padding: 0; 
    font-family: Poppins-Regular, 'sans-serif', 'arial';      
}

 
@font-face {
    font-family: 'Firacode';
    src: url(../Fonts/FiraCode-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../Fonts/Poppins-Regular.ttf) ;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../Fonts/Poppins-ExtraBold.ttf) ;
}

@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/Rubik-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Rubik-italic';
    src: url(../Fonts/Rubik-Italic-VariableFont_wght.ttf)
}
    
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
} 

:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ffa37f;
}

header{
    display: flex;
    margin: 5px 0;
    height: 10vh;
    width: 100%;
}

.left-header{
    width: 25%;
}

.img-header img{
    width: 50%;
    margin: auto 10vh;
}

.right-header{
    width: 75%;
    background-color: var(--orange);
    border-radius: 50vh 0 0 0;
}

.title-header{
    color: var(--white);
    text-align: center;
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 1.5vh 0;
    width: 100%;
    background-color: var(--orange);
}

.left-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.option-nav a{
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.option-nav a:hover::after{
        content: "";
        position: absolute;
        bottom: 2;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        animation: lineaAnimada 3s linear infinite;
}

.right-nav{
    margin: auto 2.8vw;
}

@keyframes lineaAnimada {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
}

.separator{
    margin: 2vh 0;
}

.separator-background{
    background-image:
    linear-gradient(rgb(255, 71, 0, 0.5),
    rgb(255, 71, 0, 0.3)),
    url(../img/istockphoto-820219934-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

.separator-text{
    color: var(--white);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
}

.separator-text h2{
    text-shadow:  #000000 1px 0 15px;
}

.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-main{
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-between;
}

.text-map{
    display: flex;
}

.divisor-line-content{
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    margin-bottom: 2vh;
}

.right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.direction, .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 2vh auto;
}

.social-inline{
    display: flex;
    margin: 0.5vh;
}

.social-img{
    margin-right: 2vh;
}

@media(max-width: 1150px){
    .img-header img{
        width: 60%;
        margin: 0.8vh 7vh;
    }
}

@media(max-width: 950px){
    
    .img-header img{
        width: 60%;
        margin: 1.3vh 2.5vh;
    }

    .right-header{
        width: 75%;
        height: 60%;
    }

    .title-header{
        font-size: 3.8vw;
    }

    nav{
        margin: -3vh 0;
    }

    .left-nav{
        width: 70%;
    }

    .separator{
        margin-top: 4.4vh;
    }

    .content-main{
        width: 70%;
    }

    .text-map{
        font-size: small;
    }

    .map{
        width: 25vh;
        height: 25vh;
    }

    .right-content{
        font-size: small;
    }

    .direction, .social-media{
        width: 100%;
    }

    .social-inline{
        font-size: x-small;
    }
    
    .social-img{
        width: 2vh;
        height: 2vh;
    }
}

@media(max-width: 700px){
    .left-nav{
        width: 100%;
    }

    .separator-background{
        height: 15vh;
    }
    
    .separator-text{
        font-size: medium;
        
    }
}

@media(max-width: 550px){
    .img-header img{
        width: 75%;
        margin: 1vh 1.8vh;
    }

    .option-nav{
        font-size: small;
    }

    .separator-background{
        height: 12vh;
    }
    
    .separator-text{
        font-size: small;
        
    }

    .content-main{
        width: 100%;
    }
}

@media(max-width: 450px){
    .img-header img{
        width: 75%;
        margin: 0.8vh 1.5vh;
    }

    .right-header{
        width: 75%;
        height: 45%;
    }

    .title-header{
        font-size: 4vw;
        margin-left: 2vh;
    }

    nav{
        margin: -4.5vh 0;
        padding: 1vh 0;
    }

    .option-nav{
        font-size: x-small;
    }

    .separator{
        margin-top: 6vh;
    }

    .separator-background{
        height: 10vh;
    }
    
    .separator-text{
        font-size: x-small;
    }
}