*{
    margin: 0;
    padding: 0;  
    /* outline: #ff4700 2px solid; */
}

@font-face {
    font-family: "FiraCode";
    src: url(../talentoDigital/fonts/FiraCode/FiraCode-VariableFont_wght.ttf);
    font-family: 'Poppins';
    src: url(../talentoDigital/fonts/Poppins/Poppins-Regular.ttf);
    src: url(../talentoDigital/fonts/Poppins/Poppins-Bold.ttf);
    font-family: 'Rubik';
    src: url(../talentoDigital/fonts/Rubik/Rubik-VariableFont_wght.ttf);
    src: url(../talentoDigital/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
} 

:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ffa37f;
}

/* Body Oli */

.inputName {

    box-shadow:  inset 2px 2px 5px #020202, inset -5px -5px 10px #ffffff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    border-radius: 1em;
    padding: 1em;
}

input {

    box-shadow:  inset 2px 2px 5px #020202;
    border-radius: 2em;
    
    padding: 1em;
}

.form-name {
    background-color: var(--lightorange);
    border: 0;
    color: var(--white);
    padding: 1vh;
    font-size: 3vh;
    border-radius: 50px;
    text-shadow: 2px 2px 2px var(--orange);
    box-shadow: 2px 2px 0px 0px #020100;
    letter-spacing: -0.2px;


}

.form-email {
    background-color: var(--lightorange);
    border: 0;
    color: var(--white);
    padding: 1vh;
    font-size: 3vh;
    border-radius: 50px;
    text-shadow: 2px 2px 2px var(--orange);
    box-shadow: 2px 2px 0px 0px #020100;
    letter-spacing: -0.2px;
}

.BoxForm {
    background-image: url(../img/photo\ \(3\).jpg);
    margin-top: 2vh;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.BoxForm2 {

    margin-top: 2vh;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.BoxForm-BoldTittle {
    font-weight: bolder;
    font-style:oblique;
    font-size: large;
}

.BoxForm-tittle{
    background-color: #ffa37f;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1.8vh;
    font-family: 'rubik';
    box-shadow: 4px 4px 0px 0px #020100;
    

}

.BoxFrom-part1 {
    background-color:#ffa37f;
    
    border-radius: 0em 1em 1em 0em;
    padding: 1em;
    width: 80vw;
    box-shadow: 7px 7px 0px 0px #020100;
}

.BoxFrom-part2 {
    background-color: #ffa37f;
    border-radius: 0em 0em 1em 0em;
    padding: 1em;
    width: 80vw;
    box-shadow: 7px 7px 0px 0px #020100;
}

.BoxFrom-part3 {
    background-color: #ffa37f;
    border-radius: 0em 0em 1em 0em;
    padding: 1em;
    width: 80vw;
    box-shadow: 7px 7px 0px 0px #020100;
}

.BoxFrom-part4 {
    background-color: #ffa37f;
    border-radius: 0em 0em 1em 0em;
    padding: 1em;
    width: 80vw;
}

checkbox {
    border-radius: 50%;
}

.BoxFrom-Button {
    color: var(--white);
    background-color: #ff4700;
    padding: 5px;
}

.BoxForm-tittleFont p {
    font-size: 1.8vh;
}

@media (max-width: 900px) {
    .BoxForm-tittleFont {
        display: flex;
        justify-content: center;
        height: 2vw;
    }

    /* .BoxForm-tittleFont p {
        font-size: 2vw;
    } */
}

