*{
    margin: 0;
    padding: 0; 
    font-family: Poppins-Regular, 'sans-serif', 'arial';      
}

 
@font-face {
    font-family: 'Firacode';
    src: url(../Fonts/FiraCode-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../Fonts/Poppins-Regular.ttf) ;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../Fonts/Poppins-ExtraBold.ttf) ;
}

@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/Rubik-VariableFont_wght.ttf) ;
}

@font-face {
    font-family: 'Rubik-italic';
    src: url(../Fonts/Rubik-Italic-VariableFont_wght.ttf)
}
    
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
} 

:root{
    --orange: #ff4700;
    --black: #020100;
    --white: #ffffff;
    --grey: #9c9c9c;
    --lightorange: #ff7c48;
}

header{
    display: flex;
    margin: 5px 0;
    height: 10vh;
    width: 100%;
}

.left-header{
    width: 25%;
}


.display-content{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(235, 229, 227, 0.8),
    #f8f8f82e), url(../img/photo\ \(1\).jpg);
   background-size: cover;
}

.container-info{
    display: flex;
    width: 60vw;
    text-align: center;
    margin: 0;
    justify-content: center;
    padding: 5px;
    background-color: var(--lightorange);
    margin-top: 50px;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px #020100;
}
.card{
    text-align: center;
    color: var(--white);
    margin: 5vh;
    text-align: justify;



}
.title-card{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size:xx-large;

}

.title-card:first-child{
    margin-top: 10px;
}

@media(max-width: 1100px){
    .container-info{
        width: 80vw;
    }
}

.img-header img{
    width: 50%;
}

.img-header{
    width: 30vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 4.5vh;
}

.right-header{
    width: 75%;
    background-color: var(--orange);
    border-radius: 50vh 0 0 0;
}

.title-header{
    color: var(--white);
    text-align: center;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 1.5vh 0;
    width: 100%;
    background-color: var(--orange);
}

.left-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.option-nav a{
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.option-nav a:hover::after{
        content: "";
        position: absolute;
        bottom: 2;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        animation: lineaAnimada 3s linear infinite;
}

.right-nav{
    margin: auto 2.8vw;
}

@keyframes lineaAnimada {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
}

.separator{
    margin: 2vh 0;
}

.separator-background{
    background-image:
    linear-gradient(rgb(255, 71, 0, 0.5),
    rgb(255, 71, 0, 0.3)),
    url(../img/istockphoto-820219934-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

.separator-text{
    color: var(--white);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
}

.separator-text h2{
    text-shadow:  #000000 1px 0 15px;
}

.allphotosandtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}
.photo1{
    width: 15vh ;
}
.photo2{
    width: 12vh;
}
.photo3{
    width: 23vh;
}
.photo4{
    width: 20vh;
}
.photo5 {
    width: 25vh;
}
.downtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
}

.footer{
    background-color: var(--white);
    border-top: 2px solid var(--orange);
  }
  a:link, a:visited, a:active {
      text-decoration:none;
  }
  
  .ColorFooterLinks, .ColorFooterLinks:link, .ColorFooterLinks:visited {
  
      color: var(--black);
  
  }
  
  .ColorFooterLinks:hover {
      color: var(--orange);
  }

@media(max-width: 950px){
    
    .img-header{
        width: 30vw;
        margin: -2vh 3vh;
    }

    .right-header{
        width: 75%;
        height: 65%;
    }

    nav{
        margin: -3vh 0;
    }

    .left-nav{
        width: 70%;
    }

    .separator{
        margin-top: 4.4vh;
    }
}

@media(max-width: 700px){
    .left-nav{
        width: 100%;
    }

    .separator-background{
        height: 15vh;
    }
    
    .separator-text{
        font-size: medium;
        
    }
}

@media(max-width: 550px){

    .option-nav{
        font-size: small;
    }

    .separator-background{
        height: 12vh;
    }
    
    .separator-text{
        font-size: small;
        
    }
}

@media(max-width: 450px){
    .img-header{
        margin: -3vh 3vh;
    }

    .right-header{
        width: 75%;
        height: 45%;
    }

    nav{
        margin: -4.5vh 0;
        padding: 1vh 0;
    }

    .option-nav{
        font-size: x-small;
    }

    .separator{
        margin-top: 6vh;
    }

    .separator-background{
        height: 10vh;
    }
    
    .separator-text{
        font-size: x-small;
    }
}

@media (max-width: 1030px){
    .allphotosandtext{
      flex-direction: column;
    }
  .downtext{
    flex-direction: column;
    gap: 10px;
  }
  }